.form-group input#slug {
	font-style: italic;
	border: 1px solid #fff;
}

.form-group input#slug:hover, input#slug:focus {
	border-color: #eee;
}

label.label-slug {
	float: left;
	padding-top: 2px;
}

select.form-control option {
	padding: 5px;
}

.inputstl {
	padding: 9px;
	border: solid 1px #173955;
	outline: 0;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #AACCE8), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #AACCE8 1px, #FFFFFF 25px);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}